#wheel {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: gray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#wheel.has-pin {
    color: gray;
    font-size: 70px;
    font-family: Arial;
}

#wheel.masked {
    font-size: 30px;
}

#pin {
    background-color: gray;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.percentage-enter {
    font-size: 20px;
    width: 4ch;
}

.container {
    display: inline-block;
    vertical-align: top;
    margin: auto 15px;
    width: 410px;
    height: 500px;
}

#text-container {
    text-align: left;
    max-width: 410px;
}

.jspsych-content {
    margin: 50px auto;
    /* max-width: 900px; */
    width: 900px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 15px;
    visibility: hidden;
    width: 150px;
    background-color: #3d3d3d;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    top: -5px;
    right: 175%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #3d3d3d;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.instructions-box {
    min-height: 500px;
    text-align: center;
}

.avatar {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 50px;
}

#decider-avatar {
    background-color: orange;
}

#reporter-avatar {
    background-color: red;
}

.head {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: black;
    border-radius: 50%;
}

.shoulders {
    width: 100%;
    height: 50%;
    margin: auto;
    background-color: black;
    border-radius: 50% 50% 10px 10px;
    color: white;
    font-size: 20px;
}

.small-wheel {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: gray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.small-pointer {
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.reporter-inst-arrow {
    height: 250px;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    font-size: 50px;
}

.reporter-inst-spacer {
    display: inline-block;
    width: 50px;
    height: 250px;
}

.reporter-inst-wheel-container {
    width: 246px;
    height: 246px;
    border: 2px solid black;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.reporter-inst-text-container {
    width: 246px;
    height: 246px;
    border: 2px solid black;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.bet-exp-wheel-container {
    display: inline-block;
    width: 250px;
    height: 300px;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}

.bet-exp-vline-container {
    display: inline-flex;
    width: 0;
    height: 300px;
    margin: 0 25px;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.number-line {
    position: relative;
    width: 900px;
    height: 20px;
}

.point {
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: black;
    text-align: center;
    line-height: 20px; 
    transform: translateX(-50%);
    z-index: 1;
}

.middle {
    left: 50%;
}

.point-number {
    position: absolute;
    height: 20px;
    text-align: center;
    line-height: 20px;
    transform: translateX(-50%);
}

.point-label {
    position: absolute;
    width: 210px;
    height: 20px;
    text-align: right;
    line-height: 20px;
    transform: translateX(-50%);
}

.number-line-visual {
    width: 900px;
    height: 2px;
    background-color: lightgray;
    transform: translateY(-31px);
    margin-bottom: 161px;
    z-index: 0;
}

.jspsych-survey-multi-choice-horizontal .jspsych-survey-multi-choice-text {
    text-align: left !important;
}

.jspsych-survey-multi-choice-horizontal .jspsych-survey-multi-choice-option {
    text-align: center;
    min-width: 125px;
    margin: 0 !important;
}

.jspsych-survey-multi-choice-horizontal label.jspsych-survey-multi-choice-text input[type='radio'] {
    margin-right: 5px;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.vmulti {
    text-align: left;
    vertical-align: top;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    transition: background-color 300ms;
    border-radius: 10px;
}

.vmulti:hover {
    background-color: whitesmoke;
}

.hlikert-container {
    display: flex;
    font-size: 0;
    justify-content: center;
}

.hlikert {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 114px;
    flex: 1 1 auto;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px 5px;
    font-size: 18px;
    transition: background-color 300ms;
    background-color: snow;
    border-radius: 10px;
}

.hlikert:hover {
    background-color: whitesmoke;
}

.hlikert-label {
    display: flex;
}